# Template for the .env file
# Update with appropriate values
# Rename the file to .env after updating

AZURE_AI_FOUNDRY_PROJECT_ENDPOINT="https://pran-5851-resource.services.ai.azure.com/api/projects/pran-5851"
AZURE_AI_FOUNDRY_AGENT_NAME="pran-5851"
AZURE_AI_FOUNDRY_MODEL_DEPLOYMENT_NAME="model-router
"
